<div id="form-container">
    <form (ngSubmit)="onSubmit()">
        <label for="gruppenavn">Challenge/group name</label><br>
        <input type="text" placeholder="a super cool name" [(ngModel)]="challenge.navn" name="gruppenavn"><br>

        <label for="beskrivelse">Description</label><br>
        <input type="text" placeholder="description of the challenge" [(ngModel)]="challenge.beskrivelse" name="beskrivelse"><br>
        <label for="isopen">Who is the challange for?</label><br>
        <select id="isopen" [(ngModel)]="challenge.type" name="isopen">
            <option value="solo" >only me</option>
            <option value="closed" >only for invited</option>
            <option value="open" >everyone</option>
          </select>
        <br>
        <input type="submit" value="Submit">

    </form>
</div>