<!-- Legg til en melding hvis det er ingen challenges -->

<div>
    <h1>My challenges</h1>
    <div *ngIf="administrerendeChallenges > 0">
        <h2>Challenges I administrate</h2>
        <div *ngFor="let challenge of alleChallenges">
            <div *ngIf="challenge.admin === innloggetId" class="challenge-container" [routerLink]="['/challenge', challenge.id]">
                <h3>{{ challenge.navn }}</h3>
                <p>{{ challenge.beskrivelse }} </p> 
                <p *ngIf="challenge.type=='solo'">solo challenge</p>
                <p *ngIf="challenge.type=='closed'">only for invited</p>
                <p *ngIf="challenge.type=='open'">open for all</p>
            </div>
        </div>
    </div>

    <div>
        <h2 *ngIf="administrerendeChallenges > 0">Joined challenges</h2>
        <div *ngFor="let challenge of alleBrukerChallenges">
            <div *ngIf="challenge.admin !== innloggetId" class="challenge-container" [routerLink]="['/challenge', challenge.id]">
                <h3>{{ challenge.navn }}</h3>
                <p>{{ challenge.beskrivelse }} </p> 
                <p *ngIf="challenge.type=='solo'">solo challenge</p>
                <p *ngIf="challenge.type=='closed'">only for invited</p>
                <p *ngIf="challenge.type=='open'">open for all</p>
            </div>
        </div>
    </div>

   

    <div>

    </div>
</div>