<div>
    <h1>Join challenge</h1>
    <app-meldingsboks [melding]='melding' [color]='color'></app-meldingsboks>
  <div>
    <form (ngSubmit)="onSubmit()" id="form-container">
      <div class="form-input-container">
        <label for="inviteringskode">Invitation code</label>
        <input type="text" placeholder="" [(ngModel)]="kodeInput" name="inviteringskode"><br>
        <input type="submit" value="Enter Challenge">
      </div>
    </form>
  </div>
  <h2>All open challenges</h2>
  <div *ngFor="let challenge of this.allePotensielleChallenges">
    <div class="challenge-container">
      <div>
        <h3>{{ challenge.navn }}</h3>
        <p>{{ challenge.beskrivelse }} </p> 
        <p *ngIf="challenge.type=='open'">open for all</p>
      </div>
      <div class="join-button">
        <div (click)="leggTilBrukerIChallenge(challenge)">Join Challenge</div>
      </div>
    </div>
  </div>
  <div *ngIf="antallOpenChallenges < 1">
    <p>There are none open challenges for the moment. Why not create one?</p>
  </div>
</div>
